.box{
    width:250px;
    height: 250px;
    background-color:aqua;
    display: inline-block;

}
.box1 {
    width:250px;
    height:250px;
    background-color:brown;
    display:inline-block;
}
.box2 {
    width:250px;
    height:250px;
    background-color:chartreuse;
    display:inline-block;
}